.page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-column: 1;
    grid-row: 1;
}

.inputs {
    grid-column: 1/11;
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.filters {
    grid-column: 1/5;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.newProduct {
    grid-column: 6/10;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.newProduct> :nth-child(1) {
    width: 60%;
}

.newProduct> :nth-child(2) {
    width: 40%;
}

.table {
    padding-top: 1rem;
    grid-column: 1/11;
    grid-row: 3/11;
    max-height: 400px; // você define a altura limite
    overflow-y: auto;
}