.input {
    display: flex;
    flex-direction: column;

    label {
        padding-left: .5rem;
        font-weight: 600;
    }

    input[type="number"],
    input[type="text"],
    textarea {
        border: 1px solid #E2E8F0;
        border-radius: 10px;
        padding: 1rem;
        font-family: inherit;
    }
}

.productDescription {
    textarea {
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        min-width: 97%;
        max-width: 100%;
    }
}